{#
/**
 * @file
 * Page user edit.
 */
#}

{% extends  "page.html.twig" %}
{# Content #}
{% block content %}
  <a id="main-content"></a>
  <div id="auth-box" class="col-10 offset-1 col-sm-6 offset-sm-3">
    <div id="middle-part">
      {{ page.content }}
    </div>
  </div>
{% endblock %}
