.bg-edge2edge {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100vw;
      -ms-flex: 0 0 100vw;
          flex: 0 0 100vw;
  max-width: none;
}

.bg-edge2edge:before {
  content: " ";
  display: table;
}

.bg-edge2edge:after {
  clear: both;
}

body {
  overflow-x: hidden;
}
