.bg-edge2edge {
  position: relative;
  right: 50%;
  left: 50%;
  -webkit-flex: 0 0 100vw;
  -ms-flex: 0 0 100vw;
  flex: 0 0 100vw;
  width: 100vw;
  max-width: none;
  margin-right: -50vw !important;
  margin-left: -50vw !important;
  -webkit-box-flex: 0;
}

.bg-edge2edge:before {
  display: table;
  content: " ";
}

.bg-edge2edge:after {
  clear: both;
}

body {
  overflow-x: hidden;
}
