.equal-height .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.equal-height .row > div[class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equal-height .row > div[class*='col-'] article.node {
  height: 100%;
}

.equal-height .row > div[class*='col-'] article.node div.main-content {
  height: 100%;
}

.equal-height .row > div[class*='col-'] article.node div.main-content div.card {
  height: 100%;
}

@media (min-width: 576px) {
  .equal-height-sm .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .equal-height-sm .row > div[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equal-height-sm .row > div[class*='col-'] article.node {
    height: 100%;
  }
  .equal-height-sm .row > div[class*='col-'] article.node div.main-content {
    height: 100%;
  }
  .equal-height-sm .row > div[class*='col-'] article.node div.main-content div.card {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .equal-height-md .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .equal-height-md .row > div[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equal-height-md .row > div[class*='col-'] article.node {
    height: 100%;
  }
  .equal-height-md .row > div[class*='col-'] article.node div.main-content {
    height: 100%;
  }
  .equal-height-md .row > div[class*='col-'] article.node div.main-content div.card {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .equal-height-lg .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .equal-height-lg .row > div[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equal-height-lg .row > div[class*='col-'] article.node {
    height: 100%;
  }
  .equal-height-lg .row > div[class*='col-'] article.node div.main-content {
    height: 100%;
  }
  .equal-height-lg .row > div[class*='col-'] article.node div.main-content div.card {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .equal-height-xl .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .equal-height-xl .row > div[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equal-height-xl .row > div[class*='col-'] article.node {
    height: 100%;
  }
  .equal-height-xl .row > div[class*='col-'] article.node div.main-content {
    height: 100%;
  }
  .equal-height-xl .row > div[class*='col-'] article.node div.main-content div.card {
    height: 100%;
  }
}
