.node-form .group-right {
  float: right;
  width: 48%;
  padding-left: 10px;
}

.node-form .group-left {
  float: left;
  width: 48%;
  padding-right: 10px;
}

.node-form .group-right input,
.node-form .group-left input,
.node-form .group-right select,
.node-form .group-left select {
  width: 100%;
  height: 40px;
  background: #fff;
  border: solid 1px #dbdbdb;
}

.node-form .group-right label,
.node-form .group-left label {
  margin-bottom: 10px;
}

.node-form .group-right h4,
.node-form .group-left h4 {
  display: block;
  margin-bottom: 10px;
}

.node-form .field--name-body,
.node-form .field--widget-options-buttons,
.field--name-field-documents,
.field--name-field-image {
  clear: both;
}

.node-form .field--name-body label,
.node-form .field--widget-options-buttons legend {
  margin-bottom: 10px;
}

.content-admin-page .form-item-title input {
  height: 29px;
}

.content-admin-page .form-actions {
  display: inline-block;
  margin-top: 32px;
}

.content-admin-page .form-actions input {
  padding-top: 0px;
  padding-bottom: 0px;
}

.field--type-daterange .form-item {
  padding: 0;
  border: none;
}

.field--type-daterange .form-item legend {
  display: none;
}

.field--type-daterange .container-inline {
  padding-bottom: 6px;
}

.field--type-datetime {
  margin: 0.75em 0;
}

.field--name-field-beneficiary .fieldset-wrapper input {
  height: auto;
  width: auto;
}

.charts-highchart div {
  left: 0 !important;
}

.charts-highchart h4 {
  left: 0 !important;
}