/* Varbase Hero slider media style */
.varbase-heroslider-media .slick-slide .slide__caption {
  position: absolute;
  left: 0;
  bottom: 20%;
  top: auto;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 0s cubic-bezier(0.19, 1, 0.22, 1) 1.25s;
  transition: opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 0s cubic-bezier(0.19, 1, 0.22, 1) 1.25s;
  transition: transform 0s cubic-bezier(0.19, 1, 0.22, 1) 1.25s, opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: transform 0s cubic-bezier(0.19, 1, 0.22, 1) 1.25s, opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 0s cubic-bezier(0.19, 1, 0.22, 1) 1.25s;
}
.varbase-heroslider-media .slick-slide .img-responsive {
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: -webkit-transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.varbase-heroslider-media .slick-slide .unpublished {
  padding: 0;
  height: auto;
}
.varbase-heroslider-media .slick-active .slide__caption {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s, -webkit-transform 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  transition: opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s, -webkit-transform 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  transition: transform 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s, opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  transition: transform 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s, opacity 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s, -webkit-transform 1.25s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.varbase-heroslider-media .slick-active .img-responsive {
  webkit-transition: -webkit-transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: -webkit-transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.varbase-heroslider-media .node--type-varbase-heroslider-media.node--view-mode-full {
  position: relative;
}
.varbase-heroslider-media .node--type-varbase-heroslider-media .hero-slide-content {
  position: absolute;
  bottom: 7%;
  padding: 1.2em;
  z-index: 999;
  left: 0;
  right: 0;
  border: 0;
  display: flex;
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex-direction: row;
  align-items: center;
  align-content: left;
  justify-content: left;
  flex-flow: wrap;
}
