.footer-wrapper {
  background-color: #f2f2f2;
  margin-top: 80px;
}
.footer-wrapper .footer {
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.footer-wrapper .footer ul.nav {
  float: right;
  padding: 17px 0 17px 0;
}
@media (max-width: 767px) {
  .footer-wrapper .footer ul.nav {
    float: none;
    text-align: center;
  }
}
.footer-wrapper .footer ul.nav li {
  display: inline-block;
  list-style: none;
}
.footer-wrapper .footer ul.nav li a {
  margin: 0 25px 0 0;
  padding: 0;
  color: #696969;
}
.footer-wrapper .footer ul.nav li a::before {
  font-size: 22px;
  color: #696969;
}
.footer-wrapper .footer ul.nav li a.fa {
  font-size: 0;
}
.footer-wrapper .footer #block-copyright {
  float: left;
  padding: 20px 0 20px 0;
  font-size: 12px;
}
@media (max-width: 767px) {
  .footer-wrapper .footer #block-copyright {
    float: none;
    text-align: center;
  }
}
.path-frontpage .footer-wrapper {
  margin-top: 0;
}
.path-frontpage .footer {
  margin-top: 0;
}
