@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
body {
  font-family: "Open Sans";
  font-size: 16px;
  color: #696969;
  line-height: 1.63;
  overflow-x: hidden;
  margin-top: 0;
}
.navbar-default {
  border-color: transparent;
  border-radius: 0;
}
@media (min-width: 768px) {
  header#navbar .menu {
    clear: both;
    float: right;
  }
}
header#navbar .menu .active a {
  background-color: inherit;
  color: #000;
}
@media (min-width: 768px) {
  header#navbar .menu li:last-child a {
    padding-right: 0;
  }
}
.path-frontpage .navbar {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("../../images/laptop.png");
  background-position: 50% 50%;
  background-size: cover;
  min-height: 60vh;
}
.path-frontpage .navbar .navbar-toggle:hover {
  background-color: initial;
}
.path-frontpage .navbar .navbar-toggle:focus {
  background-color: initial;
}
.path-frontpage .navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
@media (max-width: 1199px) {
  .path-frontpage .navbar {
    min-height: 50vh;
  }
}
@media (max-width: 991px) {
  .path-frontpage .navbar {
    min-height: 45vh;
  }
}
.path-frontpage .navbar .navbar-nav li a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 20px;
}
.path-frontpage .navbar .navbar-nav li a:hover {
  color: #99B3DD;
}
@media (min-width: 768px) {
  .navbar-collapse {
    float: right;
  }
}
.navbar {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #328ec7;
}
.navbar .navbar-nav li a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
.navbar .navbar-nav li a:hover {
  color: #99B3DD;
}
.page-header {
  border-bottom: 0;
}
.path-frontpage .block-views-exposed-filter-blockbook-search-page-search {
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 1199px) {
  .path-frontpage .block-views-exposed-filter-blockbook-search-page-search {
    margin-top: 0px;
  }
}
@media (max-width: 991px) {
  .path-frontpage .block-views-exposed-filter-blockbook-search-page-search {
    margin-top: 50px;
  }
}
.path-frontpage .block-views-exposed-filter-blockbook-search-page-search .form-actions .form-submit {
  border-radius: 0;
  margin-left: -11px;
  height: 59px;
  background-color: #d8d8d8;
  border: 1px solid #d8d8d8;
  border-radius: 0 2px 2px 0;
  color: #696969;
  font-size: 0;
}
.path-frontpage .block-views-exposed-filter-blockbook-search-page-search .form-actions .form-submit span::before {
  font-size: 30px;
}
@media (max-width: 991px) {
  .path-frontpage .block-views-exposed-filter-blockbook-search-page-search .form-actions {
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 0;
  }
}
.path-frontpage .block-views-exposed-filter-blockbook-search-page-search .form-type-textfield {
  float: none !important;
}
.path-frontpage .block-views-exposed-filter-blockbook-search-page-search .form-type-textfield .form-control {
  border-radius: 0;
  height: 59px;
  width: 690px;
  max-width: 100%;
}
@media (max-width: 1199px) {
  .path-frontpage .block-views-exposed-filter-blockbook-search-page-search .form-type-textfield .form-control {
    width: 490px;
  }
}
@media (max-width: 991px) {
  .path-frontpage .block-views-exposed-filter-blockbook-search-page-search .form-type-textfield .form-control {
    width: 245px;
  }
}
@media (max-width: 991px) {
  .path-frontpage .block-views-exposed-filter-blockbook-search-page-search .form-type-textfield {
    display: inline-block;
  }
}
.path-frontpage .block-views-exposed-filter-blockbook-search-page-search .block-title {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 48px;
  font-weight: normal;
  padding-bottom: 60px;
  margin-bottom: 0px;
  text-transform: initial;
}
@media (max-width: 1199px) {
  .path-frontpage .block-views-exposed-filter-blockbook-search-page-search .block-title {
    font-size: 35px;
    padding-bottom: 15px;
  }
}
.path-frontpage .navbar-default .user-account-wrapper {
  padding-top: 13px;
}
.navbar-default .user-account-wrapper {
  float: right;
  width: 19%;
  padding: 8px 0;
  position: relative;
}
@media (max-width: 991px) {
  .navbar-default .user-account-wrapper {
    float: none;
    width: 100%;
  }
}
.navbar-default .user-account-wrapper .header-avatar {
  text-align: right;
  position: relative;
}
@media (max-width: 991px) {
  .navbar-default .user-account-wrapper .header-avatar {
    text-align: center;
    width: 152px;
    margin: 0 auto;
  }
}
.navbar-default .user-account-wrapper .header-avatar .dropdown-toggle {
  border: 0;
  padding: 0;
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}
.navbar-default .user-account-wrapper .header-avatar .dropdown-toggle:hover {
  background-color: transparent;
}
.navbar-default .user-account-wrapper .header-avatar .dropdown-toggle:hover .user-full-name {
  color: #99B3DD;
}
.navbar-default .user-account-wrapper .header-avatar .dropdown-toggle .user-avatar {
  display: inline-block;
  padding-left: 10px;
  float: right;
}
.navbar-default .user-account-wrapper .header-avatar .dropdown-toggle .user-avatar img {
  border-radius: 50%;
  padding: 0;
  border: none;
}
.navbar-default .user-account-wrapper .header-avatar .dropdown-toggle .caret {
  display: none;
}
.navbar-default .user-account-wrapper .header-avatar .dropdown-toggle .user-full-name {
  display: inline-block;
  float: left;
  padding-top: 6px;
  padding-right: 15px;
  position: relative;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.navbar-default .user-account-wrapper .header-avatar .dropdown-toggle .user-full-name::after {
  position: absolute;
  content: "\f0d7";
  right: 0;
  font-family: fontawesome;
}
.navbar-default .user-account-wrapper .header-avatar .notifications-count {
  position: absolute;
  right: -4px;
  top: -6px;
  z-index: 9;
  background: #f05f70;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 14px;
  line-height: 13px;
  padding: 0 4px;
  text-align: center;
}
.navbar-default .user-account-wrapper .header-avatar .notifications-count a {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}
.navbar-default .user-account-wrapper .header-account-menu {
  top: 58px;
  min-width: 195px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
  border-color: #eeeeee;
}
.navbar-default .user-account-wrapper .header-account-menu.dropdown-menu.open {
  display: block;
}
@media (max-width: 991px) {
  .navbar-default .user-account-wrapper .header-account-menu {
    text-align: center;
    min-width: 100%;
    right: 0;
    top: 55px;
  }
}
.navbar-default .user-account-wrapper .header-account-menu ul {
  float: none !important;
  margin-right: 0;
}
@media (max-width: 767px) {
  .navbar-default .user-account-wrapper .header-account-menu ul {
    margin: 0;
  }
}
.navbar-default .user-account-wrapper .header-account-menu ul:last-child {
  margin-left: 0;
}
@media (max-width: 991px) {
  .navbar-default .user-account-wrapper .header-account-menu ul {
    float: none;
  }
}
.navbar-default .user-account-wrapper .header-account-menu ul li {
  float: none;
}
@media (max-width: 991px) {
  .navbar-default .user-account-wrapper .header-account-menu ul li {
    float: none;
  }
}
.navbar-default .user-account-wrapper .header-account-menu ul li a {
  font-size: 12px;
  color: #2A2A2A;
  padding: 10px;
  text-transform: initial;
}
.navbar-default .user-account-wrapper .header-account-menu ul li a.notifications {
  padding-right: 25px;
  background-color: #f6f6f6;
  position: relative;
}
.navbar-default .user-account-wrapper .header-account-menu ul li a.notifications::before {
  position: absolute;
  content: "\f0f3";
  color: #fdb334;
  right: 8px;
  font-family: fontawesome;
}
.navbar-default .user-account-wrapper .header-account-menu ul li a:hover {
  color: #23527c;
}
.navbar-default .user-account-wrapper li a:hover {
  color: #23527c;
}
