.ui-autocomplete {
  z-index: 1000;
  min-width: 160px;
  padding: 5px 0;
  list-style: none;
  text-align: left;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  background: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.ui-autocomplete .ui-menu-item {
  display: block;
  clear: both;
  margin: 0;
  padding: 3px 20px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: #212529;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-weight: normal;
  line-height: 1.5;
}

.ui-autocomplete .ui-menu-item.ui-state-hover {
  color: #16181b;
  background: #f3f3f3;
}

.ui-autocomplete .ui-menu-item.ui-state-active,
.ui-autocomplete .ui-menu-item.ui-state-focus {
  color: #fff;
  background: #214bff;
}
