/* This is required to win over specificity of #content h2 */
#content .comment-wrapper h2 {
  margin-bottom: 1em;
}

#content .comment-wrapper h2.comment-form__title {
  margin-bottom: 1em;
}

.field-node--comment {
  font-size: 0.875rem;
}

.comment {
  display: table;
  margin-bottom: 1.25em;
  vertical-align: top;
}

[dir="rtl"] .comment {
  direction: rtl;
}

.comment__meta {
  padding: 0 30px 0 0;
  /* LTR */
  font-size: 1rem;
}

[dir="rtl"] .comment__meta {
  padding: 0 0 0 30px;
}

.comment__attribution img {
  border: 1px solid #636363;
}

.comment .field--name-user-picture img {
  margin: 0;
}

.comment__author .username {
  white-space: nowrap;
}

.comment__author {
  margin: 4px 0;
  line-height: 1.2;
}

.comment__time,
.comment__permalink {
  margin-bottom: 4px;
  padding: 0 0.5em 0 0;
  color: #68696b;
  font-size: 0.875rem;
  line-height: 1.2;
  /* LTR */
}

[dir="rtl"] .comment__time,
.comment__permalink {
  padding: 0 0 0 0.5em;
}

.comment__permalink {
  font-size: 0.875rem;
  line-height: 1.2;
}

.comment__content:before {
  position: absolute;
  /* LTR */
  top: 1.25em;
  right: 100%;
  content: "";
  border-top: 1.25em solid transparent;
  border-right: 1.25em solid #636363;
  /* LTR */
  border-bottom: 1.25em solid transparent;
}

[dir="rtl"] .comment__content:before {
  right: auto;
  left: 100%;
  border-right: none;
  border-left: 1.25em solid #636363;
}

.comment__content:after {
  position: absolute;
  /* LTR */
  top: 1.25em;
  right: 100%;
  margin-right: -1px;
  content: "";
  border-top: 1.25em solid transparent;
  border-right: 1.25em solid #fff;
  /* LTR */
  border-bottom: 1.25em solid transparent;
  /* LTR */
}

[dir="rtl"] .comment__content:after {
  right: auto;
  left: 100%;
  margin-right: 0;
  margin-left: -1px;
  border-right: none;
  border-left: 1.25em solid #fff;
}

.comment__content h3 {
  margin-top: 0.94em;
  margin-bottom: 0.45em;
  font-size: 1.25rem;
}

.comment__content nav {
  padding-top: 1px;
}

.indented {
  margin-left: 40px;
  /* LTR */
}

[dir="rtl"] .indented {
  margin-right: 40px;
  margin-left: 0;
}

.comment .links {
  padding: 0 0 0.25em 0;
}

.comment .links-inline span {
  padding: 0 0.5em 0 0;
  /* LTR */
  font-size: 1rem;
}

[dir="rtl"] .comment .links-inline span {
  padding: 0 0 0 0.5em;
}

.comment--unpublished {
  margin-right: 5px;
  /* LTR */
  padding: 5px 2px 5px 5px;
  /* LTR */
  background: #7ecfff;
}

[dir="rtl"] .comment--unpublished {
  margin-right: 0;
  margin-left: 5px;
  padding: 5px 5px 5px 2px;
}

.unpublished .comment-text .comment-arrow {
  border-right: 1px solid #7ecfff;
  border-left: 1px solid #7ecfff;
}

.unpublished {
  padding: 1.25em 1.25em 0;
}

.comment-footer {
  display: table-row;
}

.comment--unpublished .comment__text:after,
.node--unpublished .comment__text:after {
  border-right-color: #7ecfff;
  /* LTR */
}

[dir="rtl"] .comment--unpublished .comment__content:after,
[dir="rtl"] .node--unpublished .comment__content:after {
  border-left-color: #7ecfff;
}
