.node__content {
  margin-top: 1rem;
  font-size: 1rem;
}

.node--view-mode-teaser {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #636363;
}

.node--view-mode-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}

.node--view-mode-teaser.node--sticky {
  padding: 0 1rem 1rem;
  border: 1px solid #636363;
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
}

.node--view-mode-teaser .node__content {
  clear: none;
  font-size: 1rem;
  line-height: 1.5;
}

.node__meta {
  margin-bottom: -5px;
  font-size: 0.875rem;
}

.node__meta .field--name-field-user-picture img {
  float: left;
  /* LTR */
  margin: 1px 1rem 0 0;
  /* LTR */
}

[dir="rtl"] .node__meta .field--name-field-user-picture img {
  float: right;
  margin-right: 0;
  margin-left: 1rem;
}

.node__links {
  text-align: right;
  /* LTR */
  font-size: 1rem;
}

[dir="rtl"] .node__links {
  text-align: left;
}

.node--unpublished {
  padding: 1rem 1rem 0;
}

.node--unpublished .comment-text .comment-arrow {
  border-right: 1px solid #fff4f4;
  border-left: 1px solid #fff4f4;
}
