.sidebar .block {
  margin: 0 0 1rem;
  padding: 1rem 1rem;
  border-width: 1px;
  border-style: solid;
}

.sidebar .block .content {
  font-size: 1rem;
  line-height: 1.5;
}

.sidebar h2 {
  margin: 0 0 0.5rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #636363;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.25rem;
  line-height: 1.2;
}

.sidebar tbody {
  border: none;
}

.sidebar tr.even,
.sidebar tr.odd {
  border-bottom: 1px solid #636363;
  background: none;
}

.sidebar nav ul.nav {
  margin: -1rem;
}
