.skip-link {
  z-index: 50;
  left: 50%;
  padding: 1px 1rem 2px;
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom-width: 0;
  border-radius: 0 0 0.3rem 0.3rem;
  outline: 0;
  background: #495057;
  font-size: 1rem;
  line-height: 1.5;
}

.skip-link.visually-hidden.focusable:focus {
  position: absolute !important;
  color: #fff;
}
