/* Insert your vardoc_theme header custom SASS styling. */
@media (max-width: 1199.98px) {
  header.navbar.expanded-header:not(.sticky-header) {
    margin-top: 0;
  }
  header.navbar:not(.expanded-header) .bar-icons-wrapper {
    top: auto;
  }
}

header.navbar.sticky-header {
  top: 80px;
}

@media (max-width: 1199.98px) {
  header.navbar.sticky-header {
    top: 39px;
  }
}

header.navbar .region-navigation {
  margin-right: 0;
  margin-left: 0;
}

.path-frontpage header.navbar {
  background-color: transparent !important;
}

@media (min-width: 1200px) {
  .path-frontpage header.navbar:not(.sticky-header) .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
  .path-frontpage header.navbar:not(.sticky-header) .navbar-nav .nav-item .nav-link.login-link {
    color: #214bff;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .path-frontpage header.navbar.sticky-header .navbar-brand .navbar-brand {
    display: inline-block;
  }
}

.path-frontpage .nav-link.ni-zoom-split-in {
  display: none;
}

.path-frontpage.user-logged-in .user-account-wrapper {
  margin-left: 0;
}

header.navbar {
  position: static;
  top: -90px;
  margin-bottom: 30px;
  padding: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-image: -webkit-linear-gradient(339deg, #214bff 12%, #7324ff 82%, #7324ff 82%);
  background-image: -o-linear-gradient(339deg, #214bff 12%, #7324ff 82%, #7324ff 82%);
  background-image: linear-gradient(111deg, #214bff 12%, #7324ff 82%, #7324ff 82%);
}

@media (max-width: 767.98px) {
  header.navbar {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

header.navbar .navbar-brand-front {
  display: none;
}

header.navbar .container {
  z-index: 9;
}

header.navbar .navbar-nav .nav-item {
  margin-right: 50px;
}

header.navbar .navbar-nav .nav-item.menu-item--expanded {
  margin-right: 65px;
}

@media (max-width: 1199.98px) {
  header.navbar .navbar-nav .nav-item.menu-item--expanded {
    margin-right: 45px;
  }
}

@media (max-width: 991.98px) {
  header.navbar .navbar-nav .nav-item.menu-item--expanded {
    margin-right: 0;
  }
}

@media (max-width: 1199.98px) {
  header.navbar .navbar-nav .nav-item {
    margin-right: 30px;
  }
}

@media (max-width: 991.98px) {
  header.navbar .navbar-nav .nav-item {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

header.navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

header.navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 28px 0;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0, 0.4, 1);
  -o-transition: 0.3s cubic-bezier(0.8, 0, 0.4, 1);
  transition: 0.3s cubic-bezier(0.8, 0, 0.4, 1);
  color: #fff;
  font-size: 1rem;
}

header.navbar .navbar-nav .nav-item .nav-link.login-link {
  margin-top: 20px;
  padding: 8px 20px;
  text-transform: capitalize;
  color: #214bff;
  line-height: normal;
}

header.navbar .navbar-nav .nav-item .nav-link.login-link.active {
  color: #292929;
  background-color: #fff;
}

header.navbar .navbar-nav .nav-item .nav-link.login-link:after {
  position: static;
}

@media (max-width: 991.98px) {
  header.navbar .navbar-nav .nav-item .nav-link {
    padding-bottom: 10px;
  }
}

header.navbar .navbar-nav .nav-item .nav-link:after {
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  content: "";
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
  -webkit-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  border: 0;
  background: #fff;
}

header.navbar .navbar-nav .nav-item .nav-link:hover::after,
header.navbar .navbar-nav .nav-item .nav-link.is-active::after,
header.navbar .navbar-nav .nav-item .nav-link.active::after {
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}

@media (max-width: 991.98px) {
  header.navbar .navbar-nav .nav-item .nav-link:after {
    height: 0;
  }
  header.navbar .navbar-nav .nav-item .nav-link.is-active {
    color: #292929;
  }
}

header.navbar .navbar-nav .nav-item .nav-link.ni-zoom-split-in {
  margin-top: 5px;
  font-size: 0;
}

header.navbar .navbar-nav .nav-item .nav-link.ni-zoom-split-in:before {
  font-family: NucleoIcons;
  font-size: 18px;
}

@media (max-width: 991.98px) {
  header.navbar .navbar-nav .nav-item .nav-link.ni-zoom-split-in:before {
    display: none;
  }
}

header.navbar .navbar-nav .nav-item .nav-link.ni-zoom-split-in:after {
  position: static;
}

header.navbar .navbar-nav .nav-item.dropdown {
  position: relative;
}

header.navbar .navbar-nav .nav-item.dropdown a.dropdown-toggle::before {
  position: absolute;
  top: 50%;
  right: -16px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  content: "";
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  vertical-align: 0.255em;
  border-top: 0.3em solid #fff;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

@media (max-width: 991.98px) {
  header.navbar .navbar-nav .nav-item.dropdown a.dropdown-toggle::before {
    right: 6px;
    border-top: 0.4em solid #214bff;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
  }
}

header.navbar .navbar-nav .nav-item.dropdown ul.dropdown-menu {
  top: 60px;
  right: auto;
  left: 0;
  padding: 0;
  border-color: #adb5bd;
  border-radius: 3px;
  background-color: #fff;
}

header.navbar .navbar-nav .nav-item.dropdown ul.dropdown-menu::before {
  background: transparent;
}

header.navbar .navbar-nav .nav-item.dropdown ul.dropdown-menu li {
  padding: 0;
}

header.navbar .navbar-nav .nav-item.dropdown ul.dropdown-menu li:hover,
header.navbar .navbar-nav .nav-item.dropdown ul.dropdown-menu li.active {
  background: transparent;
}

header.navbar .navbar-nav .nav-item.dropdown ul.dropdown-menu li a {
  display: block;
  padding: 10px;
}

header.navbar .navbar-nav .nav-item.dropdown ul.dropdown-menu li a:hover,
header.navbar .navbar-nav .nav-item.dropdown ul.dropdown-menu li a.is-active,
header.navbar .navbar-nav .nav-item.dropdown ul.dropdown-menu li a.active {
  color: #292929;
}

@media (min-width: 992px) {
  header.navbar .navbar-nav .nav-item.dropdown:hover a.dropdown-toggle::before {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@media (max-width: 991.98px) {
  header.navbar .navbar-nav .nav-item.dropdown:not(.show) a.dropdown-toggle::before {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  header.navbar .navbar-nav .nav-item.dropdown:not(.show) ul.dropdown-menu {
    display: block;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.8s ease;
    -o-transition: max-height 0.8s ease;
    transition: max-height 0.8s ease;
    -webkit-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
  header.navbar .navbar-nav .nav-item.dropdown.show a.dropdown-toggle::before {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  header.navbar .navbar-nav .nav-item.dropdown.show ul.dropdown-menu {
    display: block;
    overflow: hidden;
    max-height: 1000px;
    -webkit-transition: max-height 2s ease;
    -o-transition: max-height 2s ease;
    transition: max-height 2s ease;
    -webkit-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
}

header.navbar.sticky-header {
  position: fixed;
  z-index: 15;
  top: 0;
  width: 100%;
  padding: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-image: -webkit-linear-gradient(339deg, #214bff 12%, #7324ff 82%, #7324ff 82%);
  background-image: -o-linear-gradient(339deg, #214bff 12%, #7324ff 82%, #7324ff 82%);
  background-image: linear-gradient(111deg, #214bff 12%, #7324ff 82%, #7324ff 82%);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

@media (max-width: 991.98px) {
  header.navbar.sticky-header {
    padding: 15px;
  }
}

.user-logged-in.toolbar-fixed .sticky-header {
  position: static;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    display: none;
  }
  .navbar-collapse.show {
    display: block;
    overflow-x: hidden;
    height: 100vh !important;
    margin-top: 80px;
    padding: 0.5rem;
    padding-bottom: 12.5rem;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  header.navbar {
    padding: 13px 15px;
  }
  header.navbar.expanded-header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    height: 130vh;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    background-color: #fff !important;
    background-image: none;
  }
  header.navbar.expanded-header .icon-bar {
    background-color: #214bff;
  }
  header.navbar.expanded-header .block-menu.navigation {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 100%;
    -webkit-box-ordinal-group: 3;
  }
  header.navbar.expanded-header .block-menu.navigation .nav-item .nav-link {
    color: #214bff !important;
    border-bottom: solid 1px #bac7ff;
  }
  header.navbar.expanded-header .block-menu.navigation .nav-item .nav-link.is-active,
  header.navbar.expanded-header .block-menu.navigation .nav-item .nav-link.active {
    color: #292929 !important;
  }
  header.navbar.expanded-header .block-menu.navigation .nav-item .nav-link:focus {
    outline: 0;
  }
  header.navbar.expanded-header .navbar-brand a.navbar-brand {
    display: none;
  }
  header.navbar.expanded-header .site-name-slogan {
    display: none !important;
  }
  header.navbar.expanded-header .navbar-brand-front {
    display: inline-block !important;
  }
  header.navbar.expanded-header .navbar-collapse {
    display: block;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  header.navbar.expanded-header .navbar-collapse.show {
    -webkit-animation: show-navbar-collapse 0.2s ease forwards;
    -o-animation: show-navbar-collapse 0.2s ease forwards;
    animation: show-navbar-collapse 0.2s ease forwards;
    background-color: #fff;
  }
  header.navbar.expanded-header .user-account-wrapper {
    display: none;
  }
  .icon-bar {
    display: block;
    height: 2px;
    margin-top: 4px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background-color: #fff;
  }
  .path-frontpage .icon-bar {
    background-color: #fff;
  }
  .bar-icons-wrapper {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 10px 15px;
  }
  .navbar-expand-lg .navbar-toggler {
    z-index: 100;
    display: block;
    padding: 12px 0 12px 12px;
    border: none;
    background: transparent !important;
  }
  .navbar-expand-lg .navbar-toggler:focus {
    outline: none;
  }
  .navbar-expand-lg .navbar-toggler[aria-expanded="true"] .top-bar {
    width: 25px;
    margin-left: 0;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 17% 10%;
    -o-transform-origin: 17% 10%;
    transform-origin: 17% 10%;
  }
  .navbar-expand-lg .navbar-toggler[aria-expanded="true"] .middle-bar {
    opacity: 0;
  }
  .navbar-expand-lg .navbar-toggler[aria-expanded="true"] .bottom-bar {
    width: 25px;
    margin-left: 0;
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -o-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
  }
  .navbar-expand-lg .navbar-toggler.collapsed .top-bar {
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  .navbar-expand-lg .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
  .navbar-expand-lg .navbar-toggler.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  .top-bar {
    width: 25px;
    margin-left: 0;
  }
  .middle-bar {
    width: 20px;
    margin-left: 5px;
  }
  .bottom-bar {
    width: 13px;
    margin-left: 12px;
  }
}

.search-block-wrapper {
  display: none;
}

.page-header {
  position: relative;
}

.page-header::before {
  position: absolute;
  top: 26%;
  right: 0;
  display: block;
  width: 463px;
  height: 456px;
  content: "";
  background-image: url(../../images/search-image.svg);
}

@media (max-width: 767.98px) {
  .page-header::before {
    top: 19%;
    background-image: none;
  }
}

.path-frontpage .search-block-wrapper,
.path-search .search-block-wrapper {
  display: block;
  min-height: 33vh;
  margin-top: -117px;
  background-image: -webkit-linear-gradient(339deg, #214bff 12%, #7324ff 82%, #7324ff 82%);
  background-image: -o-linear-gradient(339deg, #214bff 12%, #7324ff 82%, #7324ff 82%);
  background-image: linear-gradient(111deg, #214bff 12%, #7324ff 82%, #7324ff 82%);
}

@media (max-width: 991.98px) {
  .path-frontpage .search-block-wrapper,
  .path-search .search-block-wrapper {
    min-height: 43vh;
  }
}

@media (max-width: 767.98px) {
  .path-frontpage .search-block-wrapper,
  .path-search .search-block-wrapper {
    min-height: 55vh;
  }
}

.path-frontpage .search-block-wrapper .search-block,
.path-search .search-block-wrapper .search-block {
  padding: 125px 0;
}

@media (max-width: 767.98px) {
  .path-frontpage .search-block-wrapper .search-block,
  .path-search .search-block-wrapper .search-block {
    padding: 148px 0 110px;
  }
}

.path-frontpage .search-block-wrapper .search-block h3,
.path-search .search-block-wrapper .search-block h3 {
  color: #fff;
  font-size: 2.375rem;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .path-frontpage .search-block-wrapper .search-block h3,
  .path-search .search-block-wrapper .search-block h3 {
    font-size: calc(1.3625rem + 1.35vw);
  }
}

.path-frontpage .search-block-wrapper .search-block form .form-row,
.path-search .search-block-wrapper .search-block form .form-row {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
}

.path-frontpage .search-block-wrapper .search-block form .form-row .js-form-item,
.path-search .search-block-wrapper .search-block form .form-row .js-form-item {
  position: relative;
  width: 100%;
  margin: 0 5px;
  color: #8898aa;
}

.path-frontpage .search-block-wrapper .search-block form .form-row .js-form-item::before,
.path-search .search-block-wrapper .search-block form .form-row .js-form-item::before {
  position: absolute;
  top: 18px;
  left: 17px;
  display: inline-block;
  content: "\ea5f";
  color: #8898aa;
  font-family: NucleoIcons;
  font-size: 18px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.path-frontpage .search-block-wrapper .search-block form .form-row .js-form-item .form-autocomplete,
.path-search .search-block-wrapper .search-block form .form-row .js-form-item .form-autocomplete {
  width: 100%;
  max-width: 100%;
  height: 63px;
  margin-top: 0;
  padding: 11px 45px;
  border-right: 0;
  border-radius: 4px;
}

.path-frontpage .search-block-wrapper .search-block form .form-row .form-actions .form-submit,
.path-search .search-block-wrapper .search-block form .form-row .form-actions .form-submit {
  display: none;
}

.path-search .block-page-title-block {
  display: none;
}

.path-search .nav-link.ni-zoom-split-in {
  display: none;
}

.nav-link.fab,
.nav-link.fas {
  font-family: "Font Awesome 5 Brands";
}

.user-account-wrapper {
  position: relative;
  float: right;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  width: 15%;
  padding: 0;
  -webkit-box-ordinal-group: 3;
}

@media (max-width: 991.98px) {
  .user-account-wrapper {
    float: none;
    width: 19%;
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .user-account-wrapper {
    width: auto;
  }
}

.user-account-wrapper .header-avatar {
  position: relative;
  padding: 8px 0;
  text-align: right;
}

@media (max-width: 991.98px) {
  .user-account-wrapper .header-avatar {
    width: 152px;
    margin: 0 auto;
    text-align: center;
  }
}

.user-account-wrapper .header-avatar .dropdown-toggle {
  padding: 0;
  border: 0;
  border-color: transparent;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.user-account-wrapper .header-avatar .dropdown-toggle:after {
  border: 0;
}

.user-account-wrapper .header-avatar .dropdown-toggle:hover {
  background-color: transparent;
}

.user-account-wrapper .header-avatar .dropdown-toggle:hover .user-full-name {
  color: #fff;
}

.user-account-wrapper .header-avatar .dropdown-toggle .user-avatar {
  display: inline-block;
  float: right;
  padding-left: 4px;
}

.user-account-wrapper .header-avatar .dropdown-toggle .user-avatar img {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  border-radius: 50%;
}

@media (max-width: 767.98px) {
  .user-account-wrapper .header-avatar .dropdown-toggle .user-avatar img {
    width: 25px;
    height: 25px;
  }
}

.user-account-wrapper .header-avatar .dropdown-toggle .caret {
  display: none;
}

.user-account-wrapper .header-avatar .dropdown-toggle .user-full-name {
  position: relative;
  display: inline-block;
  float: left;
  padding-top: 6px;
  padding-right: 0;
  text-transform: capitalize;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.user-account-wrapper .header-avatar .dropdown-toggle .user-full-name::after {
  display: inline-block;
  margin-left: 0.255em;
  content: "";
  vertical-align: 0.255em;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.user-account-wrapper .header-avatar .notifications-count {
  position: absolute;
  z-index: 9;
  top: -6px;
  right: -4px;
  height: 20px;
  padding: 0 4px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 14px;
  background: #f05f70;
  line-height: 13px;
}

.user-account-wrapper .header-avatar .notifications-count a {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

.user-account-wrapper .header-account-menu {
  top: 45px;
  min-width: 167px;
  max-width: 167px;
  margin-top: 0;
  padding: 0;
  border-color: #adb5bd;
  background-color: transparent;
}

.user-account-wrapper .header-account-menu.dropdown-menu.open {
  display: block;
}

@media (max-width: 991.98px) {
  .user-account-wrapper .header-account-menu {
    top: 45px;
    right: 60px;
    left: auto;
    min-width: 100%;
  }
}

.user-account-wrapper .header-account-menu ul {
  display: block;
  float: none !important;
  margin: 0;
  margin-right: 0;
  pointer-events: none;
  opacity: 0;
  border-radius: 3px;
  background-color: #fff;
}

@media (max-width: 767.98px) {
  .user-account-wrapper .header-account-menu ul {
    margin: 0;
  }
}

.user-account-wrapper .header-account-menu ul:last-child {
  margin-left: 0;
}

@media (max-width: 991.98px) {
  .user-account-wrapper .header-account-menu ul {
    float: none;
  }
}

.user-account-wrapper .header-account-menu ul li {
  float: none;
}

@media (max-width: 991.98px) {
  .user-account-wrapper .header-account-menu ul li {
    float: none;
  }
}

.user-account-wrapper .header-account-menu ul li a {
  padding: 10px;
  text-transform: initial;
  color: #214bff;
  font-size: 14px;
}

.user-account-wrapper .header-account-menu ul li a.notifications {
  position: relative;
  padding-right: 25px;
}

.user-account-wrapper .header-account-menu ul li a.notifications::before {
  position: absolute;
  right: 8px;
  content: "\f0f3";
  color: #214bff;
  font-family: "Font Awesome 5 Free";
}

.user-account-wrapper .header-account-menu ul li a:hover {
  color: #292929;
}

.user-account-wrapper .header-account-menu.show ul {
  -webkit-animation: show-navbar-dropdown 0.25s ease forwards;
  -o-animation: show-navbar-dropdown 0.25s ease forwards;
  animation: show-navbar-dropdown 0.25s ease forwards;
  pointer-events: auto;
  opacity: 1;
}

.user-account-wrapper li a:hover {
  color: #adb5bd;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: block !important;
    float: right;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    -webkit-box-ordinal-group: 2;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
  }
}

.user-logged-in .user-account-wrapper {
  width: 20%;
  margin-left: 30px;
}

@media (max-width: 1199.98px) {
  .user-logged-in .user-account-wrapper {
    width: 23%;
    margin-left: 30px;
  }
}

@media (max-width: 991.98px) {
  .user-logged-in .user-account-wrapper {
    width: 35%;
  }
  .user-logged-in .user-account-wrapper .header-avatar {
    width: auto;
  }
}

@media (max-width: 767.98px) {
  .user-logged-in .user-account-wrapper {
    width: auto;
    margin-right: 40px;
  }
  .user-logged-in .user-account-wrapper .header-avatar .user-full-name {
    display: none;
  }
}

ul.search-api-autocomplete-search {
  z-index: 503;
}

ul.search-api-autocomplete-search .ui-menu-item:hover {
  background-color: #f3f3f3;
}

ul.search-api-autocomplete-search .ui-menu-item a.ui-state-active {
  background-color: transparent;
}

ul.search-api-autocomplete-search .ui-menu-item a.ui-state-active .search-api-autocomplete-suggestion {
  color: #292929;
  background: #f3f3f3;
}

body:not(.user-logged-in) .user-account-wrapper {
  display: none;
}

body.user-logged-in .login-link {
  display: none;
}

@media (max-width: 991.98px) {
  .region-navigation-collapsible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.region-navigation-collapsible .menu--footer ul {
  float: none;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-brand .site-name-slogan {
  margin-top: 13px;
  text-transform: capitalize;
  color: #fff;
}
.navbar-brand img {
  height: auto;
}

.site-name-slogan-black {
  position: relative;
  top: 4px;
  display: inline-block;
  vertical-align: bottom;
  text-transform: capitalize;
  color: #292929;
}

.modal {
  z-index: 502;
  padding-right: 0 !important;
}

.modal .modal-content {
  border: 0;
  border-radius: 0;
}

.modal .modal-content .modal-body {
  position: relative;
  min-height: 130px;
}

.modal .modal-content .modal-body .btn-close {
  position: absolute;
  top: 30px;
  right: 60px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 0;
  background: transparent;
  font-size: 0;
  font-weight: bold;
}

.modal .modal-content .modal-body .btn-close:after {
  display: block;
  content: "\f00d";
  color: #8898aa;
  font-family: "Font Awesome 5 free";
  font-size: 20px;
}

.modal .modal-content .modal-body .btn-close:hover {
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.modal .modal-content .modal-body .btn-close:focus {
  outline: 0;
}

.modal .block-views-exposed-filter-blockbook-search-page-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 82px;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.modal .block-views-exposed-filter-blockbook-search-page-search.views-exposed-form .form-row {
  position: relative;
  max-width: 20px;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.modal .block-views-exposed-filter-blockbook-search-page-search.views-exposed-form .form-row .js-form-item {
  margin: 0 !important;
}

.modal .block-views-exposed-filter-blockbook-search-page-search.views-exposed-form .form-row .js-form-item label {
  display: none;
}

.modal .block-views-exposed-filter-blockbook-search-page-search.views-exposed-form .form-row .js-form-item input {
  width: 500px;
  min-height: 60px;
  border: 0;
  border-left: 2px solid #8898aa;
  border-radius: 0;
  font-size: 24px;
}

.modal .block-views-exposed-filter-blockbook-search-page-search.views-exposed-form .form-row .js-form-item input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal .block-views-exposed-filter-blockbook-search-page-search.views-exposed-form .form-row .form-actions {
  position: absolute;
  top: -2px;
  right: 4px;
  margin: 0 !important;
}

.modal .block-views-exposed-filter-blockbook-search-page-search.views-exposed-form .form-row .form-actions .btn {
  position: relative;
  padding: 5px;
  color: #000;
  border: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 0;
}

.modal .block-views-exposed-filter-blockbook-search-page-search.views-exposed-form .form-row .form-actions .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal .block-views-exposed-filter-blockbook-search-page-search.views-exposed-form .form-row .form-actions .btn:after {
  position: absolute;
  position: absolute;
  top: 0;
  left: 17px;
  display: inline-block;
  content: "\ea5f";
  color: #8898aa;
  font-family: NucleoIcons;
  font-size: 35px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.modal.show .block-views-exposed-filter-blockbook-search-page-search.views-exposed-form .form-row {
  max-width: 500px;
}

.modal .modal-frame {
  max-width: 100%;
  margin: 0;
}

.modal .modal-dialog {
  z-index: 100;
}

.block-views-exposed-filter-blockbook-search-page-search.mobile-search {
  display: none;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  -webkit-box-ordinal-group: 2;
}

@media (max-width: 991.98px) {
  .block-views-exposed-filter-blockbook-search-page-search.mobile-search {
    display: block;
    width: 100%;
    height: 100%;
    min-height: auto;
    margin-top: 20px;
  }
}

.block-views-exposed-filter-blockbook-search-page-search.mobile-search form .form-row .js-form-item {
  position: relative;
  width: 100%;
  color: #8898aa;
}

.block-views-exposed-filter-blockbook-search-page-search.mobile-search form .form-row .js-form-item::before {
  position: absolute;
  top: 18px;
  left: 17px;
  display: inline-block;
  content: "\ea5f";
  color: #8898aa;
  font-family: NucleoIcons;
  font-size: 18px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.block-views-exposed-filter-blockbook-search-page-search.mobile-search form .form-row .js-form-item .form-autocomplete {
  width: 100%;
  max-width: 100%;
  height: 63px;
  margin-top: 0;
  padding: 11px 45px;
  border-radius: 4px;
}

.block-views-exposed-filter-blockbook-search-page-search.mobile-search form .form-row .form-actions .form-submit {
  display: none;
}

.modal-backdrop {
  z-index: 9;
}

.logo-color img {
  width: 166px;
  height: 35px;
}
