.vlb_color_01 {
  background-color: #338ec7;
  color: #ffffff;
}

.vlb_color_01 a {
  color: #ffffff;
}

.vlb_color_01 a:hover, .vlb_color_01 a:focus, .vlb_color_01 a:active, .vlb_color_01 a.is-active, .vlb_color_01 a.active {
  color: #ffffff;
}

.vlb_color_02 {
  background-color: #2c3e50;
  color: #ffffff;
}

.vlb_color_02 a {
  color: #ffffff;
}

.vlb_color_02 a:hover, .vlb_color_02 a:focus, .vlb_color_02 a:active, .vlb_color_02 a.is-active, .vlb_color_02 a.active {
  color: #ffffff;
}

.vlb_color_03 {
  background-color: #a4a4a4;
  color: #ffffff;
}

.vlb_color_03 a {
  color: #ffffff;
}

.vlb_color_03 a:hover, .vlb_color_03 a:focus, .vlb_color_03 a:active, .vlb_color_03 a.is-active, .vlb_color_03 a.active {
  color: #ffffff;
}

.vlb_color_04 {
  background-color: #d3d3d3;
  color: #000000;
}

.vlb_color_04 a {
  color: #000000;
}

.vlb_color_04 a:hover, .vlb_color_04 a:focus, .vlb_color_04 a:active, .vlb_color_04 a.is-active, .vlb_color_04 a.active {
  color: #000000;
}

.vlb_color_05 {
  background-color: #cc3c2d;
  color: #ffffff;
}

.vlb_color_05 a {
  color: #ffffff;
}

.vlb_color_05 a:hover, .vlb_color_05 a:focus, .vlb_color_05 a:active, .vlb_color_05 a.is-active, .vlb_color_05 a.active {
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_01 {
  background-color: #338ec7;
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_01 a {
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_01 a:hover, #drupal-off-canvas .vlb_color_01 a:focus, #drupal-off-canvas .vlb_color_01 a:active, #drupal-off-canvas .vlb_color_01 a.is-active, #drupal-off-canvas .vlb_color_01 a.active {
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_02 {
  background-color: #2c3e50;
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_02 a {
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_02 a:hover, #drupal-off-canvas .vlb_color_02 a:focus, #drupal-off-canvas .vlb_color_02 a:active, #drupal-off-canvas .vlb_color_02 a.is-active, #drupal-off-canvas .vlb_color_02 a.active {
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_03 {
  background-color: #a4a4a4;
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_03 a {
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_03 a:hover, #drupal-off-canvas .vlb_color_03 a:focus, #drupal-off-canvas .vlb_color_03 a:active, #drupal-off-canvas .vlb_color_03 a.is-active, #drupal-off-canvas .vlb_color_03 a.active {
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_04 {
  background-color: #d3d3d3;
  color: #000000;
}

#drupal-off-canvas .vlb_color_04 a {
  color: #000000;
}

#drupal-off-canvas .vlb_color_04 a:hover, #drupal-off-canvas .vlb_color_04 a:focus, #drupal-off-canvas .vlb_color_04 a:active, #drupal-off-canvas .vlb_color_04 a.is-active, #drupal-off-canvas .vlb_color_04 a.active {
  color: #000000;
}

#drupal-off-canvas .vlb_color_05 {
  background-color: #cc3c2d;
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_05 a {
  color: #ffffff;
}

#drupal-off-canvas .vlb_color_05 a:hover, #drupal-off-canvas .vlb_color_05 a:focus, #drupal-off-canvas .vlb_color_05 a:active, #drupal-off-canvas .vlb_color_05 a.is-active, #drupal-off-canvas .vlb_color_05 a.active {
  color: #ffffff;
}
